

<mat-sidenav-container autosize="true" color="primary" *ngIf="!userIsAuthenticated" >
  <mat-sidenav #sidenav mode="side" opened="true" >
    <mat-nav-list color="primary">
      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon class="chevron-button sidenav-button" [ngClass]="{ rotated: isExpanded }">chevron_right
        </mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon class="" routerLink="/Dash" >home</mat-icon>
        <span *ngIf="isExpanded">Home</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon class="" [routerLink]="'Users'" >event</mat-icon>
        <span *ngIf="isExpanded">Calendar</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon class="" routerLink="/Kanban" >table</mat-icon>
        <span *ngIf="isExpanded">Product backlog</span>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon class="" routerLink="/Task"  >add_task</mat-icon>
        <span *ngIf="isExpanded">Tasks</span>
      </mat-list-item>


    </mat-nav-list>


  </mat-sidenav>

  <div class="content">

      <mat-toolbar color="primary">

        <!-- <a mat-button><mat-icon>hotel</mat-icon> </a>
        <a mat-button ></a> -->

        <span class="example-spacer"></span>
        <!-- <a mat-button > Create Account </a> -->
        <a mat-button routerLink="/LoginPage" *ngIf="!userIsAuthenticated" ><mat-icon>login</mat-icon> Login </a>
        <a mat-button  [routerLink]="''"  *ngIf="userIsAuthenticated" >Log Out</a>

      </mat-toolbar>


    <router-outlet></router-outlet>
    <!-- <app-task-view></app-task-view> -->
  </div>
</mat-sidenav-container>
