
<body>

  <div class="spacer layer1">
    <section><h1>Collaborate!</h1>
      <img src="assets/Off1.svg">
    <p class="">Didn't join us yet ? </p>
    <div>        <a mat-button color="black" routerLink="/LoginPage" style="background-color: rgb(182, 35, 145);"   type="button"  > Join us now! </a>
    </div>
  </section>
  </div>
  <div class="spacer layer2">
    <section><h1>Unleash Your Creativity</h1>

      <img src="assets/Off2.svg">
    <p >Do you want to foster a culture of creativity and innovation in your team? Look no further than us. Our platform is designed to encourage the sharing of ideas and inspire new perspectives.</p>
    <div>        <a mat-button routerLink="/LoginPage" color="black" style="background-color: rgb(182, 35, 145);"   type="button"  > Join us now! </a>
    </div>
  </section>
  </div>
<div class="spacer layer3">
<section  >
  <h1>To-Do List & Thoughts</h1>
<img src="assets/Off3.svg">
<p>
  Our platform is intuitive and user-friendly, so you can start sharing your ideas and making real progress in no time. Whether you're working remotely or in the office, We keep your team connected and on the same page.
</p>
  So why wait?  <div>        <a mat-button color="black" routerLink="/LoginPage" style="background-color: rgb(182, 35, 145);"   type="button"  > Join us now! </a>
  </div>
</section>
</div>
</body>
