
<body>

  <div class="spacer layer1">
    <section><h1>Collaborate!</h1>
    <p class="degrad"> That's why we've designed a platform that makes it easy for teams to work together, regardless of location or time zone. Our intuitive interface and powerful features allow your team to collaborate more effectively, so you can get more done together. Get started with [Brand Name] today and see the difference for yourself!</p>
    <p class="">Didn't join us yet ? </p>
    <div>        <a mat-button color="black" routerLink="/LoginPage" style="background-color: rgb(182, 35, 145);"   type="button"  > Join us now! </a>
    </div>
  </section>
  </div>
  <div class="spacer layer2">
    <section><h1>Unleash Your Creativity</h1>
      <div class="layer3"></div>
    <p >Do you want to foster a culture of creativity and innovation in your team? Look no further than us. Our platform is designed to encourage the sharing of ideas and inspire new perspectives.</p>
    <div>        <a mat-button routerLink="/LoginPage" color="black" style="background-color: rgb(182, 35, 145);"   type="button"  > Join us now! </a>
    </div>
  </section>
  </div>
<section class="spacer layer5" ><h1>To-Do List & Thoughts
</h1>
  Our platform is intuitive and user-friendly, so you can start sharing your ideas and making real progress in no time. Whether you're working remotely or in the office, We keep your team connected and on the same page.

  So why wait?  <div>        <a mat-button color="black" routerLink="/LoginPage" style="background-color: rgb(182, 35, 145);"   type="button"  > Join us now! </a>
  </div> </section>

<section class="spacer layer6"><h1>Explore Your World

</h1>
  <p>Are you ready to expand your horizons and explore new ideas and perspectives? Then you need Our website. Our platform is designed to bring teams together and promote the discovery of new ideas and insights.</p>
  <div>        <a mat-button color="black" routerLink="/LoginPage" style="background-color: rgb(182, 35, 145);"   type="button"  > Join us now! </a>
  </div>
</section>

</body>
