.example-card {
  max-width: 400px;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  width: 36px;
  height: 36px;
  /*display: table;*/
  display: inline-block; /* CHANGED */
  padding: 10px;
  margin: 20px;
  color: #8f226e;
  text-align: center;
  font: 28px Arial, sans-serif;
  margin-left: 120px;
  flex-grow: 1;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}
.example-card{
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  display: inline;
  max-width: 500px;
  max-height: 500px;
  min-width: 200px;
  min-height: 100px;
}
