
<h1 class="mat-display-1" *ngFor="let completedTask of tasks" style="color: white; margin-left: 2rem;">
  List "{{completedTask.listTitle}}" has {{completedTask.countCompleted}} completed tasks
</h1>
<div class="container">
  <mat-card class="example-card">
    <mat-card-subtitle> Your Lists in total</mat-card-subtitle>
    <mat-card-title>Number of your taks</mat-card-title>

    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <mat-card-content>
        <div class="center">
        <p><b>{{countTask}}</b></p>
        </div>

      </mat-card-content>
    </mat-card-actions>
    <mat-card-footer>
      <button mat-button routerLink="/lists">Consult lists</button>


    </mat-card-footer>
  </mat-card>


